.App {
  text-align: center;
}

.search-container{
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.filter-container{
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

p{
  color: black;
}

p.error-message{
  color:red;
}

.URL-input{
  width: 30rem;
}

.theme-container{
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}
