.App {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  height: 100%;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}

.search-container {
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
  padding: 2rem;
}

.filter-container {
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
  padding: 2rem;
}

p {
  color: black;
}

p.error-message {
  color: red;
}

.instruction {
  max-width: 95%;
}

.URL-input {
  width: 30rem;
}

.token {
  width: 190px;
}

.theme-container {
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

#displayContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
}

#footerContainer {
  width: 100%;
  height: 7%;
  background-color: blueviolet;
  text-align: right;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

#headerContainer {
  width: 100%;
}

.chartDiv {
  height: 300; 
  width: 35%; 
  margin-bottom: 20px;

}

.commitDataContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.dataGridBox {
  height: 450px; 
  width: 60%;
  margin: 0 0 7rem 0;
}

@media (max-width: 640px) {
  .chartDiv {
    height: 500;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .dataGridBox {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 950px) {

  .URL-input,
  .token {
    max-width: 300px;
  }
  .chartDiv {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .dataGridBox {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 370px) {

  .URL-input,
  .token {
    max-width: 190px;
  }
}