#FooterContainer {
  width: 100%;
  background-color: blueviolet;
  text-align: right;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}
p {
  color: whitesmoke;
  font-size: 18px;
  margin-right: 10px;
}
