#HeaderContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 1.5em;
  color: white;
  font-family: "Lucida Console", monospace;
  font-size: 200%;
  letter-spacing: 0.2em;
  overflow: hidden;
}

#headerImg {
  height: 200px;
}

@media (max-width: 800px) {
  #headerImg {
    height: 150px;
  }
}

@media (max-width: 550px) {
  #headerImg {
    height: 130px;
  }
}

@media (min-width: 1500px) {
  #headerImg {
    width: 100%;
    height: auto;
  }
}